body {
    transition: background-color 0.3s, color 0.3s;
}

.theme-light {
    background-color: #f8f9fa;
    color: #343a40;
}

.theme-dark {
    background-color: #465c72;
    color: #040404;
}

.theme-colorful {
    background-color: #ffeb3b;
    color: #000;
}

.list-inline {
    list-style-type: none;
    padding: 0;
}

.list-inline li {
    display: inline;
    margin-right: 10px;
}